/* Färgpalett
huvudfärg (mörk) rgb(26, 47, 44). rosa rgb(250, 212, 235).  ljus rgb(255, 255, 255).   mörk rgb(53, 69, 74) 
Facebook org color  #0866ff
linkdin org color #004182
blå husfärg rgb(47, 194, 216)
  mörk gul rgb(223, 197, 63)
  ljus gul rgb(245, 219, 89)*/
  

  body{
    margin: 0px;
}
 /*
.navbar{
    display: flex;
    flex-direction: row;
}
#menue{
    margin-right: 20px;
    padding-left: 10px;
    padding-top: 10px;
    list-style: none;
    overflow: hidden;
    background-color: rgb(26, 47, 44);
    height:30px;
    cursor: pointer;
    border-radius: 2px;
}
#menue li{
    padding-right: 10px;
    padding-bottom: 10px;
    float: left;
}
#menue li a{
    text-decoration: none;
    font-family: Quicksand;
    font-size: small;
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
}
.dropdown{
    padding-top: 16px;
    margin-right: 20px;
    padding-left: 0px;
    cursor: pointer;
}
.dropdown button{
    border-radius: 2px;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
    background-color: rgb(26, 47, 44);
    border: none;
    font-family: Quicksand;
    font-size: small;
    color: rgb(255, 255, 255);
    cursor: pointer;
} 
.dropdown:hover button{
    background-color: darkgray;
}
.dropdown div{
    display: none;
    position: absolute;
    background-color: darkgrey;
    box-shadow: 2px 2px 5px rgb(26, 47, 44);
}
.dropdown:hover div{
    display: block;
}
.dropdown a{
    display: block;
    list-style: none;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    text-decoration: none;
    font-family: Quicksand;
    font-size: small;
    color: rgb(255, 255, 255);
}
.dropdown a:hover{
    background-color: gainsboro;
}
#inputbox{
    margin-right: 10px;
}
 */
 .header{
    position: sticky;
    top: 0px;
    left:0px;
    right: 0px;
  
 }
 
.headermain{
   position:absolute;
   width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image:url(Wimages/blog.png);
    background-size: cover;
    background-position: center;
}
#logo{
    height: 170px;
    width: 200px;
}
#logo:hover{
    cursor: pointer;
}
.sm-bar{
    max-width: 60px;
    display: flex;
    justify-content: space-between;
    margin-right: 90px;    
}
.sm-bar a{
    max-height: 60px;
    padding-right: 10px;
}

#welcome{
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(26, 47, 44);
}
/*
.fa-brands.fa-square-facebook{
    color: rgb(26, 47, 44);
}
.fa-brands.fa-square-facebook:hover{
    color:  rgb(92, 116, 106);
}
.fa-brands.fa-square-instagram{
    color: rgb(26, 47, 44);
}
.fa-brands.fa-square-instagram:hover{
    color:  rgb(92, 116, 106);
}
.fa-brands.fa-linkedin {
    color: rgb(26, 47, 44);
}
.fa-brands.fa-linkedin:hover{
    color:  rgb(92, 116, 106);
}
   
#slogan{
    display: flex;
    /*background-color: rgb(92, 116, 106);
    margin-top: 105px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0px;
    
}
#slogan h1{
   margin-top: 20px;
   margin-bottom: 0px;
   margin-left: 20px;
   padding-bottom: 0px;
   text-align: center;
   color: black;
   font-style: italic;
  
}
#slogan h5{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}
#latestpost{
   display: flex;
    background-color:  rgb(26, 47, 44);
    color: white;
    align-items: center;
    padding-left: 60px; 
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* Latestpost sectionen kan inte 
    ha margin då boxen ska gå
    hela vägen över. Bloggpost ligger 60px från left pga
    .content har margin-left 40px 
    och i den ligger.bloggposter
    med padding-left 20px.
}
 END HEADER

/*START SECTION CONTAINER

.container förälder till content och sidebar
    display: flex;
    flex-direction: row;
    
}
.content{ /*förälder till bloggposter
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}  */
.container{ /*förälder till (content) bloggpost och sidebar*/
    display: flex;
    flex-direction: row;  /*column i iphone*/
  }

.bloggpost{ /*förälder till h3, h6, bloggbildtext*/
    background-color: white;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding-left: 20px;
    margin-top: 120px;
    margin-left: 35px;
    margin-bottom: 30px;
}

#bloggrubrik{
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#bywriter{
    padding: 0px;
    margin-top: 20px;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*
.bloggbildtext{
    display: flex;
    flex-direction: row;
}
#bloggbild{
    width: 350px;
    height: 250px;
    margin-right: 20px;
}
#bloggtext{
    width: 350px;
} */
 .bloggbildtext{
    margin-bottom: 30px;

 }
 #bloggbild{
    float: left;
    margin-right: 20px;
    margin-top: 20px;
 }
#bloggbild_botten{
    float: right;
    height: 150px;
    margin-left: 20px;
}
.bloggpost {
    margin-top: 40px;
}
#bloggknapp{
    height: 33px;
    width: 90px;
    margin-left: 600px;
    margin-bottom: 20px;
    background-color: rgb(47, 194, 216);
    color: white;
    border: none;

    border-radius: 3px;
    
}
#bloggknapp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    box-shadow: 3px 3px 10px rgb(47, 194, 216);
}
#bloggknapp:hover{
 cursor: pointer;
 
}
#bloggknapp:active {
    box-shadow: 0px 0px 1px 1px rgb(47, 194, 216); 
}
#older_post_box{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#older_post_box button{
    height: 35px;
    width: 150px;
    border: none;
    border-radius: 3px;
    background-color: rgb(47, 194, 216);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    box-shadow: 5px 5px 10px rgb(47, 194, 216);
}
.sidebar{
    position: sticky;
    top: 180px;
    border: 1px solid;
    border-radius: 8px;
    max-width: 280px;
    min-width: 200px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: 35px; /*i mediaq auto/*/
    height: auto;
    max-height: 360px;
    box-shadow: 5px 5px 10px rgb(26, 47, 44); 
}

@media (max-width: 1200px) {
    .container{
        display: flex;
        flex-wrap: wrap;
      align-items: center;
      justify-content: center;
        margin-right: 8px;
       
    }
    .bloggpost{
        margin-left: auto;
        margin-right: auto;
    }
    #bloggbild{
        display:none;
        
       
     }
     #bloggbild_botten{
       height: 150px;
       width: 250px;
       

       
       margin-left: 0px;
     }
     .bloggbildtext{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
     }
     .bloggbildtext p{
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        min-width: none;
     }
     #bloggknapp{
        margin-left: auto;

     }
    .sidebar{
       margin-top: 20px;
       margin-bottom: 20px;
    margin-right: auto;
    }
    .footer_list{
        margin-left: 0px;
    }
    .footer_list ul li{
    margin-left:0px ;
    margin-right:0px; 
    }

    .footermain{
        
       
    }
    .footermain{
        padding-left: 0px;
    }
    #footer_logo{
        height: 80px;
        width: 80px;
        margin-left: 0px;
        padding-left: 0px;
    
    }
    .copy_box{
        display: flex;
        flex-direction: row;
    }
    .copy_box h5{
        font-size: 8px;
        padding-right: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .copy_box h6{
        display:none;
    }
    #copy{
        height: 8px;
    }
    .copy_box h4{
        margin-left: 4px;
        font-size: ;
        padding-left: 3px;
        padding-right: 3px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
}

   

.arkivbox{
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
   
    border-radius: 3px;
}
#arkivrubrik{
    margin-left: 25px;
    padding-left: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#arkivlista{
     list-style: none;
     margin-left: 0px;
     padding-left: 25px;
     padding-bottom: 7px;
     text-decoration: underline;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#arkivlista li{
    

}
.tagsbox{
    padding-top: 5px;
    margin-left: none;
   
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 3px;

}
#tagsrubrik{
    margin-left: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.tagslist{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 5px;
    padding-left: 15px;
    background-color: (245, 219, 89);
}
.tagslist li{
    padding-right: 6px;
}

#poesi{
    font-size: large;
    color: blueviolet;
    margin-right: 4px;
    text-decoration: none;
    
}
#abbie{
    font-weight: bolder;
    padding-right: 10px;
    text-decoration: none;
    color: rgb(14, 150, 61);

}
#hook{
    color: darkgoldenrod;
    font-size: larger;
    text-decoration: none;

}
#three-act{
   font-weight: bolder;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-decoration: none;
}
#linnéuniversitetet{
    text-decoration: none;
}

#protagonist{
    color: rgb(47, 194, 216);
    text-decoration: none;

}
#scrivener{
    color:rgb(244, 116, 145);
    font-style: italic;
    font-size: larger;
    text-decoration: none;
}
#fumla{
    color: crimson;
    font-weight: bolder;
    font-size: x-large;
    text-decoration: none;
}
#footer_remsa{
    background-color:  rgb(92, 116, 106);

}
.footer_list {
    display: flex;
    flex-direction: row;
    background-color:  rgb(92, 116, 106);
    margin-bottom: 0px;
    align-items: center;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#sammelsurium {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#footer_slogan a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
   margin-top: 20px;
   margin-bottom: 0px;
   margin-left: 20px;
   text-align: center;
   color: rgb(244, 116, 145);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
#footer_slogan h2{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: center;  
}



.footermain{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: 
}

#footer_logo{
    height: 80px;
    width: 100px;
    margin-left: 30px;

}
#logo:hover{
    cursor: pointer;
}
.copy_box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.copy_box h5{
    padding-right: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#copy{
    height: 15px;
}
.copy_box h4{
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.footer_sm-bar{
    display: flex;
    max-width: 60px;
    justify-content: space-between;
    justify-content: space-between;
    margin-right: 90px;    
}
.footer_sm-bar a{
    max-height: 60px;
    padding-right: 10px;
    
}
.fa-brands.fa-square-facebook{
    color: rgb(47, 194, 216);
}
.fa-brands.fa-square-facebook:hover{
    color:  rgb(92, 116, 106);
}
.fa-brands.fa-square-instagram{
    color: rgb(47, 194, 216);
}
.fa-brands.fa-square-instagram:hover{
    color:  rgb(92, 116, 106);
}
.fa-brands.fa-linkedin {
    color: rgb(47, 194, 216);
}
.fa-brands.fa-linkedin:hover{
    color:  rgb(92, 116, 106);
}
#footer_last_post{
   display: flex;
    background-color: rgb(92, 116, 106);
    color: white;
    align-items: center;
    padding-left: 60px; 
    /* Latestpost sectionen kan inte 
    ha margin då boxen ska gå
    hela vägen över. Bloggpost ligger 60px från left pga
    .content har margin-left 40px 
    och i den ligger.bloggposter
    med padding-left 20px.*/
}

/*
#foot_ad{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(36, 46, 42);
    color: white;
    max-height: 200px;
    
}
#foot_ad h3{
    margin-left: 40px;
    margin-bottom: 0px;
   

}
#foot_ad h4{
    margin-left: 40px;
    margin-top: 10px;
   
}
.foot_bottom{

    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
   
}
.foot_bottom h6{
    padding: 20px, 0px, 20px, 60px;
    color:rgb(36, 46, 42)

}
#rights_box{
    max-width: 150px;
}
.foot_sm-bar{
    
}*/