
/* Färgpalett
huvudfärg (mörk) rgb(26, 47, 44). rosa rgb(250, 212, 235).  ljus rgb(255, 255, 255).   mörk rgb(53, 69, 74) 
Facebook org color  #0866ff
linkdin org color #004182
blå husfärg rgb(47, 194, 216)
  mörk gul rgb(223, 197, 63)
  ljus gul rgb(245, 219, 89)*/

  rgb(128, 147, 157)
  

body{
    margin: 0px;
}
 /*
.navbar{
    display: flex;
    flex-direction: row;
}
#menue{
    margin-right: 20px;
    padding-left: 10px;
    padding-top: 10px;
    list-style: none;
    overflow: hidden;
    background-color: rgb(26, 47, 44);
    height:30px;
    cursor: pointer;
    border-radius: 2px;
}
#menue li{
    padding-right: 10px;
    padding-bottom: 10px;
    float: left;
}
#menue li a{
    text-decoration: none;
    font-family: Quicksand;
    font-size: small;
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
}
.dropdown{
    padding-top: 16px;
    margin-right: 20px;
    padding-left: 0px;
    cursor: pointer;
}
.dropdown button{
    border-radius: 2px;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
    background-color: rgb(26, 47, 44);
    border: none;
    font-family: Quicksand;
    font-size: small;
    color: rgb(255, 255, 255);
    cursor: pointer;
} 
.dropdown:hover button{
    background-color: darkgray;
}
.dropdown div{
    display: none;
    position: absolute;
    background-color: darkgrey;
    box-shadow: 2px 2px 5px rgb(26, 47, 44);
}
.dropdown:hover div{
    display: block;
}
.dropdown a{
    display: block;
    list-style: none;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    text-decoration: none;
    font-family: Quicksand;
    font-size: small;
    color: rgb(255, 255, 255);
}
.dropdown a:hover{
    background-color: gainsboro;
}
#inputbox{
    margin-right: 10px;
}
 
 .container_header{
    position: fixed;
    top: 0px;
    left:0px;
    right: 0px;
 }
 
.content_header{
    height: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image:url(Wimages/blog.png);
    background-size: cover;
    background-position: center;
}
#header_logo{
    height: 170px;
    width: 200px;
}
#header_logo:hover{
    cursor: pointer;
}
.box_header_socialmedia-bar{
    max-width: 60px;
    display: flex;
    justify-content: space-between;
    margin-right: 90px;    
}
.box_header_socialmedia-bar a{
    max-height: 60px;
    padding-right: 10px;
}
sparar lite för om jag vill
 ha en annan färg i headernn än i footern

.fa-brands.fa-square-facebook{
    color: rgb(26, 47, 44);
}
.fa-brands.fa-square-facebook:hover{
    color:  rgb(92, 116, 106);
}
.fa-brands.fa-square-instagram{
    color: rgb(26, 47, 44);
}
.fa-brands.fa-square-instagram:hover{
    color:  rgb(92, 116, 106);
}
.fa-brands.fa-linkedin {
    color: rgb(26, 47, 44);
}
.fa-brands.fa-linkedin:hover{
    color:  rgb(92, 116, 106);
}
    */

/* END HEADER*/
.container_header{
    position: fixed;
    top: 0px;
    left:0px;
    right: 0px;
    background-color: white;

 }
 
.content_header{
   position:absolute;
   border-bottom: 2px solid rgb(199, 210, 215);
   width: 95%;
   margin-right: 30px;
   margin-left: 30px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    /*background-image:url(Wimages/blog.png);*/
    background-size: cover;
    background-position: center;
    
}
.header-logo-name{
    display: flex;
    flex-direction:row;
    align-items: center;
}

.header_logo{
    height: 90px;
    width: 120px;
}
.header_logo:hover{
    cursor: pointer;
}
.box_header_socialmedia-bar{
    max-width: 60px;
    display: flex;
    justify-content: space-between;
    margin-right: 60px;    
}
.box_header_socialmedia-bar a{
    max-height: 60px;
    padding-right: 10px;
}

.writersblock h1{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-family: 'Schoolbell';
    font-size: 60px;
    margin-bottom: 0px;
}
.writersblock h3{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.writersblock span{
    font-family: 'Schoolbell';
}
.latestpost{
    display: flex;
    height: 40px;
    background-color: rgb(199, 210, 215);
    align-items: center;

}
.latestpost h3{
    margin-left: 30px;
   
    
}
/*START .container_main*/
.container_main{ 
    display: flex;
    flex-direction: row;
    
}

.content_main_blogposts{ /*förälder till bloggposter*/
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.box_main_blogpost{ /*förälder till h3, h6, bloggbildtext*/
    background-color: white;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding-left: 20px;
}

.box_main_blogpost h3{
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    
}
.box_main_blogpost h6{
    padding: 0px;
    margin-top: 20px;
    text-decoration: underline;
   
}

.in-box_main_pic-text{
    display: flex;
    flex-direction: row;
}
#in-box_main_pic{
    width: 350px;
    height: 250px;
    margin-right: 20px;
}
#in-box_main_text{
    width: 350px;
}
#in-box_main_btn{
    height: 33px;
    width: 90px;
    margin-left: 600px;
    margin-bottom: 20px;
    
    background-color:  rgb(128, 147, 157);
    color: white;
    border: none;
    border-radius: 3px;
   
   font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-size: 15px;
    box-shadow: 1px 1px 9px -3px rgb(128, 147, 157);
}
#in-box_main_btn:hover{
 cursor: pointer;
 
}
#in-box_main_btn:active {
    box-shadow: 0px 1px 1px rgb(71, 73, 73); 
}
.box_main_btn{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_main_btn button{
    height: 35px;
    width: 150px;
    border: none;
    border-radius: 3px;
    background-color:  rgb(128, 147, 157);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 15px;
    box-shadow: 1px 1px 9px -3px rgb(128, 147, 157);
}
.box_main_btn button:hover{
    cursor: pointer;

}
.box_main_btn button:active{
    box-shadow: 0px 1px 1px rgb(71, 73, 73); 
}





.content_main_sidebar{
top: 180px;
border: 1px solid rgb(95, 98, 98);
border-radius: 8px;
max-width: 280px;
min-width: 200px;
margin-top: 150px;
margin-left: auto;
margin-right: 35px; /*i mediaq auto/*/
height: auto;
max-height: 360px;
box-shadow: 5px 5px 10px rgb(95, 98, 98); 
}

@media (max-width: 1200px) {
.container_main{
    display: flex;
    flex-wrap: wrap;
  align-items: center;
  justify-content: center;
    margin-right: 8px;
   
}
.content_main_blogpost{
    margin-left: auto;
    margin-right: auto;
}

.content_main_sidebar{
   margin-top: 20px;
   margin-bottom: 20px;
    margin-right: auto;
}
.footer_list{
    margin-left: 0px;
}
.footer_list ul li{
margin-left:0px ;
margin-right:0px; 
}

.footermain{
    padding-left: 0px;
}
.footer_logo{
    height: 80px;
    width: 80px;
    margin-left: 0px;
    padding-left: 0px;
}
.copy_box{
    display: flex;
    flex-direction: row;
}
.copy_box h5{
    font-size: 8px;
    padding-right: 10px;
}
.copy_box h6{
    display:none;
}
#copy{
    height: 8px;
}
.copy_box h4{
    margin-left: 4px;
    font-size: ;
    padding-left: 3px;
    padding-right: 3px;
}
}

.box_main_archive{
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 3px;
}
.box_main_archive h4{
    margin-left: 25px;
    padding-left: 0px;
    margin-bottom: 5px;
   

}
.in-box_main_list{
     list-style: none;
     margin-left: 0px;
     padding-left: 25px;
     padding-bottom: 7px;
     text-decoration: underline;
     margin-top: 0px;
     margin-bottom: 8px;
     font-size: medium;
    

}
/*
.in-box_main_list li{
    
}*/

.box_main_tags{
    padding-top: 5px;
    margin-left: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    border-radius: 3px;

}
.box_main_tags h4{
    margin-left: 20px;
    padding-left: 0px;
    margin-bottom: 5px;
   margin-top: 0px;
    
}
.in-box_main_tagslist{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 5px;
    padding-left: 20px;
    margin-top: 0px;
   
}
.in-box_main_tagslist li{
    padding-right: 6px;
}

#poesi{
    font-size: large;
    color: blueviolet;
    margin-right: 4px;
    text-decoration: none;
    
}
#abbie{
    font-weight: bolder;
    padding-right: 10px;
    text-decoration: none;
    color: rgb(14, 150, 61);

}
#hook{
    color: darkgoldenrod;
    font-size: larger;
    text-decoration: none;

}
#three-act{
   font-weight: bolder;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-decoration: none;
}
#linnéuniversitetet{
    text-decoration: none;
}

#protagonist{
    color: rgb(47, 194, 216);
    text-decoration: none;

}
#scrivener{
    color:rgb(244, 116, 145);
    font-style: italic;
    font-size: larger;
    text-decoration: none;
}
#fumla{
    color: crimson;
    font-weight: bolder;
    font-size: x-large;
    text-decoration: none;
}

.box_main_search{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    display: flex;
    align-items: center;
    border: 1px solid;
    padding: 1px;
    border-radius: 13px;
    background-color: white;
    margin-bottom: 15px;
    
}
.main-search-input{
    border: none;
    background: transparent;
}
/*
.container_footer {
display: flex;
flex-direktion: column;
} */
.content_footer{
    background-color:  rgb(128, 147, 157);
    height: 120px;
}
.box_footer_tags-list {
    display: flex;
    flex-direction: row;
    background-color: rgb(128, 147, 157);
    margin-bottom: 0px;
    align-items: center;
    justify-content: space-around;
    margin-left: 15px;
   margin-right: 15px;
    
}
.box_footer_tags-list ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.box_footer_btn{
   margin-left: 1150px;
   border: none;
   margin-top: 0px;
   padding-top: 0px;
   margin-bottom: 20px;
}

.content_footer_branding-band{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer_logo{
    height: 80px;
    width: 100px;
    margin-left: 30px;
}
.footer_logo:hover{
    cursor: pointer;
}
.box_footer_copy-text-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box_footer_copy-text-icon h5{
    padding-right: 0px;
}
   
    
.copy_icon{
    height: 15px;
}
.box_footer_copy-text-icon h4{
    padding-left: 3px;
    padding-right: 3px;
    

}
.box_footer_socialmedia-bar{
    display: flex;
    max-width: 60px;
    justify-content: space-between;
    justify-content: space-between;
    margin-right: 90px;    
}
.box_footer_socialmedia-bar a{
    max-height: 60px;
    padding-right: 10px;
    
}
.fa-brands.fa-square-facebook{
    color: rgb(47, 194, 216);
}
.fa-brands.fa-square-facebook:hover{
    color:  rgb(92, 116, 106);
}
.fa-brands.fa-square-instagram{
    color: rgb(47, 194, 216);
}
.fa-brands.fa-square-instagram:hover{
    color:  rgb(92, 116, 106);
}
.fa-brands.fa-linkedin {
    color: rgb(47, 194, 216);
}
.fa-brands.fa-linkedin:hover{
    color:  rgb(92, 116, 106);
}
.content_footer_last-band{
   display: flex;
    background-color: rgb(128, 147, 157);
    color: white;
    align-items: center;
    padding-left: 60px; 
}

.box_main_socialmedia-bar .fa-brands.fa-square-facebook {
    color: rgb(128, 147, 157);
}
.box_main_socialmedia-bar .fa-brands.fa-square-instagram {
    color: rgb(128, 147, 157);
}
.box_main_socialmedia-bar .fa-brands.fa-linkedin {
    color: rgb(128, 147, 157);}